:root {
  --bg-0: #0A0A0A;
  --bg-1: #101010;
  --ink-1: #EDEDEC;
  --ink-2: #A1A09A;
  --line: #3E3E3A;
  --brand-1: #e50914;
  --brand-2: #ff2e63;
  --acc-1: #e50914;
  --acc-2: #ff2e63;
  --white: #fff;
}

