.card__cover img {
    width: 100%;
    height: 440px;
    object-fit: cover;
    border-radius: 10px;
    background: #232027;
    display: block;
}

.popular-img {
    height: 280px !important;
}

@media (max-width: 600px) {
    .card__cover img,
    .popular-img {
        height: 260px !important;
    }
}

